@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #fbfcfe;
  --foreground: #6a707c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161c27;
    --foreground: #babec4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
} */
